*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Norse Bold";
  src: url("/assets/Norse-Bold.otf");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
}

/* Hero styles */

.hero-container {
  width: 30%;
  height: 100vh;
  background-image: url("/assets/hero-image.jpg");
  background-size: cover;
  align-self: flex-start;
}

.hero-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem 0;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 25rem;
}

.hero-logo-img {
  width: 100px;
  padding-right: 1rem;
}
.hero-text {
  font-family: "Norse Bold";
  font-size: 36px;
  color: white;
}

.photo-credits {
  margin-top: 15rem;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}
/*  reusable link styles */
.a {
  color: darkslategrey;
}

.a:hover,
a:focus,
a:visited:hover {
  color: azure;
}

a:visited {
  color: mediumseagreen;
}

/* Form styles */

.form-container {
  width: 75%;
}

.form-header,
.form-footer {
  background-color: gainsboro;
  width: 100%;
}

.form-header-text {
  width: 65%;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 21px;
}

.form-header-text > em {
  color: seagreen;
  font-weight: bold;
}
