*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Norse Bold";
  src: url("/assets/Norse-Bold.otf");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
}

.hero-container {
  width: 25%;
  height: 100vh;
  background-image: url("/assets/hero-image.jpg");
  background-size: cover;
  align-self: flex-start;
}

.hero-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem 0;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-logo-img {
  width: 100px;
  padding-right: 1rem;
}
.hero-text {
  font-family: "Norse Bold";
  font-size: 36px;
  color: white;
}

.form-container {
  width: 60%;
}
